{
    email admin@ecospherenet.work
}

n8n.ecospherenet.work {
    reverse_proxy n8n:5678
}

webui.ecospherenet.work {
    reverse_proxy open-webui:8080
}

flowise.ecospherenet.work {
    reverse_proxy flowise:3000
}

langfuse.ecospherenet.work {
    reverse_proxy ai-workspaces-langfuse-web-1:3000
}

supabase.ecospherenet.work {
    reverse_proxy supabase-kong:8000
}

grafana.ecospherenet.work {
    reverse_proxy grafana:3000
}

letta.ecospherenet.work {
    reverse_proxy letta:8283
}

prometheus.ecospherenet.work {
    reverse_proxy prometheus:9090
}

searxng.ecospherenet.work {
    reverse_proxy searxng:8080
}

portainer.ecospherenet.work {
    reverse_proxy portainer:9000
}

desktop.ecospherenet.work {
    reverse_proxy guacamole-web:8080
}

affine.ecospherenet.work {
    reverse_proxy affine_server:3010
    tls admin@ecospherenet.work
}

appflowy.ecospherenet.work {
    reverse_proxy appflowy-cloud-nginx-1:80
    tls admin@ecospherenet.work
}

gitlab.ecospherenet.work {
    reverse_proxy gitlab-gitlab:80
    tls admin@ecospherenet.work
}

proxmox.ecospherenet.work {
    reverse_proxy https://192.168.0.45:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    tls admin@ecospherenet.work
}

ai-workspaces.ecospherenetwork.net {
    reverse_proxy http://192.168.0.36:80
    tls admin@ecospherenet.work
}
